body {
  background: url("./brick\ backgrounds.jpeg");
  background-size: cover;
  height: 100vh;
}

.none {
  display: none !important;
}

.neonderthaw {
  font-family: neonderthaw, sans-serif;
}

.nav-style {
  font-family: clip, sans-serif;
  color: rgb(226, 61, 199) !important;
  text-shadow: 1px 1px 1px rgb(236, 130, 43) !important;
  font-size: 2rem !important;
}

.poster {
  background-color: antiquewhite;
  box-shadow: 5px 5px 10px gray;
}

.tearaway {
  background-color: antiquewhite;
  transform: rotate(90deg);
}

.name-font {
  font-family: neon, sans-serif;
  color: rgb(86, 137, 248);
  text-shadow: 3px 3px 15px rgb(65, 87, 174);
  font-size: 3rem !important;
  animation: flicker 3s infinite alternate;
}

@font-face {
  font-family: neon;
  src: url("/NEON____.TTF") format("truetype");
}

@font-face {
  font-family: clip;
  src: url("/Clip.ttf") format("truetype");
}

@keyframes flicker {
  40% {
    opacity: 1;
  }

  42% {
    opacity: 0.8;
  }

  43% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }
}
